@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

.mulish-mulish-font {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.display-flex {
  display: flex;
}

.oreng-color {
  color: #FF5400;
}

.dark-02 {
  color: rgba(66, 66, 71, 1);
}

.text-white {
  color: #FFFFFF;
  font-size: 1.75rem;
}

.btn-primary {
  background-color: #FF5400;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 14px 29px;
  height: 52px;
  width: 173px;
  font-weight: 400;
  font-size: 20px;
}

.btn-primary-1 {
  background-color: #FF5400;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 14px 29px;
  height: 52px;
  width: 250px;
}

main {
  max-width: 1170px;
  margin: 0 auto;
}

main>section {
  margin-top: 100px;
}

.hed-title {
  width: 273px;
  height: 48px;
  justify-content: space-between;
  align-items: center;

}

#menu-toggle {
  display: none;
}

.menu-icon {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.menu-icon span {
  width: 45px;
  height: 10px;
  background-color: dimgray;
  border-radius: 25px;
  transition: 0.3s;
}

.navber {
  justify-content: space-between;
  align-items: center;
  height: 43px;
  width: 1190px;
  margin: auto;
  margin-bottom: 48px;

}

.hero-travel {
  font-size: 36px;
  font-weight: 800;
}

.nav-links {
  gap: 44px;

}

.nav-title {
  list-style: none;
}

.nav-link {
  text-decoration: none;
  font-size: 18px;
}



.banner {
  position: relative;
  max-width: 1170px;
  width: 100%;
  height: 500px;
  border-radius: 20px;
  overflow: hidden;
  margin: auto;
}

.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.35);
  /* dark effect on image */
  border-radius: 15px;
  z-index: 1;
}

.text-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FFFFFF;
  text-align: center;
  z-index: 2;
}

.text-content h1 {
  font-size: 4rem;
  margin: 0;
}

.text-content p {
  font-size: 18px;
  margin-top: 10px;
}

.input-container {
  background-color: rgba(255, 255, 255, 0.3);
  justify-content: space-around;
  padding: 20px;
  align-items: center;
  gap: 22px;
  border-radius: 8px;
}

.input-section {
  color: white;
  border: none;
  border-radius: 5px;
  padding: 14px 29px;
  height: 22px;
  width: 153px;
}

.popular-function {
  display: flex;
  justify-items: center;
  justify-content: space-between;
  align-items: center;
  margin: 100px auto;
}

.popular-section {
  font-size: 2.5rem;
  font-weight: 800;
}

.popular-container {
  width: 477px;
  height: 646px;
}

.popular-title {
  color: rgba(19, 19, 24, 0.7);
}

ul li {
  margin-top: 20px;
}

.point-description {
  margin-bottom: 35px;

}

.destination-section {
  position: relative;
  text-align: center;

}

.destination-title {
  font-size: 2.5rem;
  font-weight: 800;
}

.row-1,
.row-2,
.row-3 {
  justify-content: space-between;
}

.pic-1 {
  position: relative;
  justify-content: space-between;
  margin-top: 24px;
  overflow: hidden;

}

.img-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FFFFFF;
  text-align: center;
  font-size: 1.75rem;
  /* z-index: ; */
}

.Choose-section {
  position: relative;
  text-align: center;
}

.choose-title {
  font-size: 2.5rem;
  font-weight: 800;
}

.choose-description {
  color: rgba(19, 19, 24, 0.7);
  margin-bottom: 24px;
}

.hotels-features {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: space-between;


}

.handpicked {
  background-color: rgba(251, 181, 99, 0.2);
  padding: 45px;
  width: 476px;
  border-radius: 20px;
  border: 1px solid rgba(251, 181, 99, 0.2);
  margin-bottom: 24px;

}

.world-service {
  background-color: rgba(41, 206, 246, 0.2);
  width: 476px;
  padding: 45px;
  border-radius: 20px;
  border: 1px solid rgba(41, 206, 246, 0.2);
  margin-bottom: 24px;
}

.best-price {
  background-color: rgba(233, 68, 68, 0.2);
  width: 476px;
  padding: 45px;
  border-radius: 20px;
  border: 1px solid rgba(233, 68, 68, 0.2);
}

.icon-title {
  font-size: 1.5rem;
  font-weight: 800;
}

.icon-description {
  color: rgba(90, 90, 93, 1);
}

.discount-card {
  position: relative;
  overflow: hidden;
  margin: 24px 0;
}

.discount-card-facilities {
  position: absolute;
  top: 12%;
  left: 45%;
  width: 400px;
  height: 289px;
  background-color: #FFFFFF;
  padding: 45px;
  border-radius: 16px;
}

.discount-card-1 {
  position: relative;
  overflow: hidden;
}

.discount-card-facilities-1 {
  position: absolute;
  top: 12%;
  right: 45%;
  width: 400px;
  height: 289px;
  background-color: #FFFFFF;
  padding: 45px;
  border-radius: 16px;
}



.discount-section {
  width: 643px;
  height: 126px;
  margin: auto;
  text-align: center;
}

.discount-title {
  color: rgba(19, 19, 24, 1);
  font-size: 2.5rem;
  font-weight: 800;
}

.discount-description {
  color: rgba(19, 19, 24, 0.7);
}

.discount-information {
  display: flex;
  list-style: none;
  gap: 24px;
  margin-left: -40px;
  margin-top: -20px;

}

.information-title {
  font-size: 1.5rem;
  font-weight: 800;
}

.price {
  font-size: 1.25rem;
  font-weight: 800;
}

.Package {
  font-size: 20px;
  font-weight: 400;

}

.packages-btn {
  display: flex;
  justify-content: center;
  margin-top: -70px;
  margin-bottom: 74px;
}

.place-container {
  display: flex;
  justify-content: space-between;

}

.place-section {
  width: 532px;
  height: 424px;
}

.place-title {
  font-size: 2.5rem;
  font-weight: 800;
  margin-top: -10px;
}

.place-section p {
  color: rgba(90, 90, 93, 1);
}

.place-section ul li {
  font-weight: 600;
}

.watch-section {
  position: relative;
  overflow: hidden;
}

.watch-mountain {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #FFFFFF;
  text-align: center;
}

.watch-mountain h3 {
  font-size: 1.5rem;
}

.newsletter-section {
  display: flex;
  justify-content: space-between;
}

.newsletter {
  border: 1px solid #FF5400;
  border-radius: 15px;
  padding: 40px;
}

.newsletter-title {
  font-size: 1.5rem;
  font-weight: 800;
}

.newsletter-descrioption {
  color: rgba(90, 90, 93, 1);
  margin-bottom: 20px;
}

.name-section {
  width: 360px;
  height: 20px;
  background-color: rgba(19, 19, 24, 0.05);
  border: none;
  border-radius: 8px;
  padding: 20px;
  margin: 20px 0;
}

.newsletter-image {
  position: relative;
  overflow: hidden;
}

.btn-newsletter {
  position: absolute;
  color: #FFFFFF;
  padding: 15px;
  background-color: #FF5400;
  border-radius: 15px;
  text-align: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transform: rotate(-25deg);
  top: 64%;
  right: 2%;
}

.travel-section {
  font-size: 24px;
  margin: 10px;
}

.travel-description {
  margin: 2px;
}

.footer-section {
  background-color: rgba(19, 19, 24, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.footer-title {
  margin: auto;
  margin-top: 110px;
}

.hero-travel-description {
  color: rgba(90, 90, 93, 1);
  text-align: center;
  width: 779px;
  margin-top: 24px;
}

.footer-icon {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin: 33px;

}

.footer-icon a {
  color: black;
}

.footer-description {
  color: rgba(19, 19, 24, 1);
  text-align: center;
  margin-bottom: 110px;

}

/* resposive  */
@media screen and (max-width:576px) {
  .navber {
    width: 100%;
    margin: auto;
  }

  .menu-icon {
    display: flex;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    background-color: white;
    text-align: center;
    padding: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  #menu-toggle:checked+.menu-icon+.nav-links {
    display: flex;
  }

  .input-container {
    flex-direction: column;
  }

  .banner {
    margin-top: 44px;
    height: 550px;
  }

  .text-content h1 {
    font-size: 2.5rem;
    margin-top: 44px;
  }

  .text-content p {
    font-size: 18px;
  }

  .input-container {
    padding: 10px;
    gap: 12px;
    margin-bottom: 50px;
  }

  .popular-function,
  .row-1,
  .row-2,
  .row-3,
  .hotels-features,
  .place-container,
  .newsletter-section {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .popular-container {
    width: 335px;
    margin: auto;
  }

  .popular-image {
    width: 100%;
    margin-top: 24px;
  }

  .destination-container img {
    width: 100%;
    height: 186px;

  }

  .handpicked,
  .world-service,
  .best-price {
    width: 335px;
    padding: 25px;
  }

  .discount-section {
    width: 335px;
    height: 206px;

  }

  .discount-card-facilities,
  .discount-card-facilities-1 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%);
    width: 300px;
    height: 289px;
    padding-left: 15px;
    border-radius: 18px;
  }

  .discount-card-1,
  .discount-card {
    img {
      width: 100%;
      height: 600px;
      border-radius: 15px;
    }

  }

  .place-section {
    width: 335px;
    height: auto;
    margin-bottom: 24px;
  }

  .watch-section img {
    width: 100%;
    border-radius: 15px;
  }

  .name-section {
    width: 280px;
  }

  .newsletter-image img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    margin-top: 24px;
   
  }

  .btn-newsletter {
    padding: 8px;
    top: 52%;
    right: 2%;
  }

  .hero-travel-description {
    width: 335px;
  }


}
